.conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.acesso {
  background: #1a1a1a;
  padding: 30px;
  border-radius: 8px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.acesso h1 {
  margin-bottom: 8px;
  font-size: 28px;
  text-align: center;
}

.acesso label {
  font-size: 14px;
  margin-bottom: 8px;
  color: #ccc;
  font-weight: 500;
}

.acesso p {
  color: #888;
  text-align: center;
  margin-bottom: 24px;
  font-size: 14px;
}

.input {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #333;
  border-radius: 6px;
  background-color: #252525;
  color: #fff;
}

.linkacc {
  font-size: 13px;
  color: #0066cc;
  text-decoration: none;
  margin-bottom: 20px;
  text-align: right;
}

.button {
  padding: 14px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #004499;
}

/** celular **/
@media (max-width: 300px) {
  .acesso {
    background-color: red;
  }
}


/** maior que computador **/
@media (min-width: 800px) {
  .acesso {
    background-color: green;
  }
}
